
.time_show {
    position: absolute;
    bottom: 8px; /* Position 8px from the bottom */
    right: 8px; /* Position 8px from the right */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 2px 6px;
    border-radius: 4px;
  }
  
  .span_time {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  